body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
}

.title-text {
    font-size: 50px;
    margin: 15px;
    font-weight: bold;
}

#btn {
    background-color: rgb(199, 155, 240);
    padding: 3px 25px;
    border-radius: 8px;
    border: 2px solid black;
    font-weight: bold;
    margin-top: 10px;
    font-size: large;

}

#main-container {
    border: 10px solid purple;
    width: 800px;
    height: 800px;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.box-container {
    display: flex;
    flex: 1;
}

.box {
    border: 1px solid black;
    flex: 1;
}

.change {
    background-color: aqua;
}